body{
	margin: 0%;
	background: rgb(35, 36, 36);
}
section.home{
	background-size: fill;
	display: flex;
	flex-direction: column;
}
section.about_me{
	background-color: rgb(69, 71, 71);
	

}
.top{
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;	

background: rgb(35, 36, 36);
position: fixed;
	


}





.ac{
	position: absolute;
	color:black;
	left:45%;
	padding:1px;
	background-color:white;
	border-radius:5px ;
	margin-bottom:10px;
}

.image{
	
	display:flex;
	margin-left:auto;
	margin-right:auto;
	border-radius:50%;
	border:2px solid white;
}
p.b{
    color:white;
	text-align: center;
	font-size:3rem;
}
p.c{
	color: white;
	font-size:20px;
	text-align: center;
}
.imd{
	position: relative;
	left: 50%;
	top: 100%;
}
h2{
	color:#5273f8;
	text-align:center;
}

.profile{
	display: flex;
	flex-direction: column;
	position:relative;
	background-color: rgb(47, 59, 59);
	
color:white}

.box{
	position: relative;
	
   
  border-radius: 0.5rem;
  padding: 2.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin: 5%;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}
	
.blue{
	color:#5273f8;
}
progress{
	background:#efefef;
	width:500px;
	border-radius:7px;
	height:10px;
	max-width:100%;
	text-align:center;
	margin-left:2%;
	
	
}
.contact{
	position:absolute;
	top:50;
}
.maina{
	background:rgb(69, 71, 71);
	color:black;
	border-radius:7px;
}
progress{
	-webkit-appearance: none;
	
}
progress::-webkit-progress-value{
	background: #5273f8;
}
@media (max-height: 550px) {
	html{
		font-size: 10px;
	}
p.b{
	font-size: 2.5rem;
}
p.c{
	font-size: 15px;
}
section.home{
	height: 500px;
}
}
